* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: center;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }

.header{
    background-color: #393f4d;
    grid-column: 2 / 3;
}

.sidebar{
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: auto 1fr;
}

.sidebar-header{
   grid-row: 1 / 2;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 15px;
}

.sidebar-header > i{
    padding-right: 10px;
}

.list-items{
    grid-row: 2 / 4;
}

.bottom-list{
    display: flex;
    flex-direction: column;
}

.top-list{
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;

}

li > i{
    padding-right: 10px;
}

.content{
    background-color: purple;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}