* {
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: center;
}

.container div {
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }

.header{
    background-color: #393f4d;
    grid-column: 2 / 3;
}

.sidebar{
    background-color: #0284c7;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.sidebar div{
    padding: 15px;
}

.dashboard-text{
    font-size: 36px;
}

.sidebar-header{
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 14px;
}

.sidebar-header > i{
    font-size: 36px;
}

.list-items{
    grid-row: 2 / 4;
}

.bottom-list{
    display: flex;
    flex-direction: column;
}

.top-list{
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

}

li > i{
    font-size: 20px;
}

li div {
    font-size: 18px;
}

.content{
    background-color: purple;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}